<div>
  <h3>{{termToDisplay ?.name}}</h3>
  <h3>{{termToDisplay ?.definition}}</h3>
  <h4>{{termToDisplay ?.subject}}</h4>
  <h4>{{termToDisplay ?.category}}</h4>
</div>

<h4><span class="emphasis">{{termToDisplay?.subject}}</span> - {{termToDisplay?.category}}</h4>
<div class="flash-detail-parent">
  <div (click)="showCard = !showCard" class="flash-detail">
    <div *ngIf="showCard" class="flash-detail">
      <h3>{{termToDisplay?.name}}</h3>
    </div>
    <div *ngIf="showCard == false" class="flash-detail">
      <h3>{{termToDisplay?.definition}}</h3>
    </div>
  </div>
</div>
<button class="btn btn-primary outline" (click)="quizMe()">Quiz Me</button>

