<div class="container">
  <div class="about-project">
    <h1><em>Epiquiz</em></h1>
    <p> stuff about our app!</p>
    <p>alll the stufffffff fsijneirgn njcsjdnfow bciwncjn ijnjcqn</p>
  </div>

  <div class="parent">
    <div class="child">
      <div class="dev" id="sowmya">
        <img class="dev-pic" src="./assets/images/sowmya-bl.jpg" alt="Sowmya Dinavahi's Picture">
        <div class="dev-info">
          <h2>Sowmya Dinavahi</h2>
        </div>
      </div>

      <div class="dev" id="jin">
        <img class="dev-pic" src="./assets/images/jin-bl.jpg" alt="Jin Camou's Picture">
        <div class="dev-info">
          <h2>Jin Camou</h2>
        </div>

      </div>
      <div class="dev" id="steven">
        <img class="dev-pic" src="./assets/images/steven.jpg" alt="Steven Galvins Picture">
        <div class="dev-info">
          <h2>Steven Galvin</h2>
        </div>
      </div>
      <div class="dev" id="kat">
        <img class="dev-pic" src="./assets/images/kat-bl.jpg" alt="Kat Gifford's Picture">
        <div class="dev-info">
          <h2>Kat Gifford</h2>
        </div>
      </div>
    </div>
  </div>
</div>
