/*ABOUT PAGE*/
.child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dev {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 35px;
}

.dev-pic {
  height: 200px;
  width: 200px;
  display: block;
  border-radius: 20%;
  /*border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;*/
}

.dev-info {
  width: 250px;
  height: 200px;
  margin-top: 10px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
}

.social {
  width: 100%;
}

.social a {
  margin-left: 5px;
  margin-right: 5px;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.social a:hover {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.social-img {
  width: 50px;
  height: 50px;
  transition: .2s;
}

.social-img:hover {
  transform: scale(1.1);
  opacity: .5;
}

.about-project {
  padding: 5em;
  margin: 20px;
}

.about-project h3 {
  text-align: center;
}

/*.github {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 33.33%;
  border-bottom-right-radius: 17%;
}

.twit, .linkden {
  background-color: #3DACDD;
  font-size: 1.2em;
  width: 33.33%;
}

.insta{
  background-color: #cd486b;
  font-size: 1.2em;
  width: 33.33%;
}

.about-project {
  margin: 30px;
  text-align: center;
}*/
