<div class="container">
  <div class="about-project">
    <p>Epiquiz was created with the intention of building a user friendly database for studying code, specifically the fundamentals of code from the course work at <a href="https://www.learnhowtoprogram.com/courses">Epicodus</a>.</p>
    <br>
    <p><em>"Flashcards can bear vocabulary, historical dates, formulas or any subject matter that can be learned via a question-and-answer format. Flashcards are widely used as a learning drill to aid memorization by way of spaced repetition."</em></p>
    
    <p>As aspiring developers, we created Epiquiz to be a tool for ourselves that could be expanded to include other subjects and be available for a wider audience. We wish you luck in your studies!</p>
    <p>To learn more about the creators of this app,<em>check out the links below.</em></p>
  </div>

  <div class="parent">
    <div class="child">
      <div class="dev" id="sowmya">
        <img class="dev-pic" src="./assets/images/sowmya-bl.jpg" alt="Sowmya Dinavahi's Picture">
        <div class="dev-info">
          <h2>Sowmya Dinavahi</h2>
          <div class="social">
            <div class="social">
              <a href="https://github.com/sowmyadsl" class="github" target="_blank">G</a>
              <a href="https://twitter.com/sowmyadsl" class="twit" target="_blank">T</a>
              <a href="https://www.instagram.com/sowmyadsl/" class="insta" target="_blank">i</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dev" id="jin">
        <img class="dev-pic" src="./assets/images/jin-bl.jpg" alt="Jin Camou's Picture">
        <div class="dev-info">
          <h2>Jin Camou</h2>
          <div class="social">
            <div class="social">
              <a href="https://github.com/jinjin8" class="github" target="_blank">G</a>
              <a href="https://www.linkedin.com/in/jin-camou-625659140/" class="linkden" target="_blank">L</a>
              <a href="https://www.instagram.com/jincamou/" class="insta" target="_blank">i</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dev" id="steven">
        <img class="dev-pic" src="./assets/images/steven.jpg" alt="Steven Galvins Picture">
        <div class="dev-info">
          <h2>Steven Galvin</h2>
          <div class="social">
            <div class="social">
              <a href="https://github.com/Steven-Galvin" class="github" target="_blank">G</a>
              <a href="https://twitter.com/stvnglvn" class="twit" target="_blank">T</a>
              <a href="https://www.instagram.com/stvnglvn/" class="insta" target="_blank">i</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dev" id="kat">
        <img class="dev-pic" src="./assets/images/kat-bl.jpg" alt="Kat Gifford's Picture">
        <div class="dev-info">
          <h2>Kat Gifford</h2>
          <div class="social">
            <a href="https://github.com/PiKatso" class="github" target="_blank">G</a>
            <a href="https://twitter.com/katgifford1" class="twit" target="_blank">T</a>
            <a href="https://www.instagram.com/katgiffordpdx/" class="insta" target="_blank">i</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
