#login {
  padding-bottom: 10px;
}

.list-inline {
  display: inline-block;
}

.space-left {
  margin-left: 9px;
}

.form-control {
  margin-bottom: 10px;
}

.loggin-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
