<br>

<div id="login">
  <h3 class="list-inline" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!  </h3>
  <div *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()" [disabled]="!email || !password">
      Signup
    </button>

    <button (click)="logIn()" [disabled]="!email || !password">
      Login
    </button>
  </div>

  <button class="btn btn-default list-inline space-left" (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>

<br>

<div class="edit-component-route">
  <app-admin *ngIf="authService.user | async"></app-admin>
</div>
