<h3>Admin login</h3>
<br>

<div id="login" class="col-md-5" >
  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

  <div *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()" [disabled]="!email || !password">
      Signup
    </button>

    <button (click)="logIn()" [disabled]="!email || !password">
      Login
    </button>
  </div>

  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>

<app-admin *ngIf="authService.user | async"></app-admin>
