<h2>Terms List</h2>
<button class="btn btn-success outline" (click)="quizBySubject(terms)">Quiz Me!</button>
<h2>Filter By Category:</h2>
<select class="form-control" (change)="onChange($event.target.value)">
  <option value="fundamentals">Fundamentals</option>
  <option value="concepts">Concepts</option>
  <option value="framework">Frameworks</option>
  <option value="databases">Databases</option>F
  <option value="dependencies">Dependencies</option>
  <option value="technicalInterview">Technical Interview</option>
  <option value="allCategories" selected="selected">All Categories</option>
</select>
<br>
<div class="flashcards">
  <div *ngFor="let term of terms | async | subject:filterBySubject | category:filterByCategory" class="flashcard panel panel-default">
    <div class="panel-body">
      <h3 (click)="goToDetailPage(term)"><em>{{term.name}}</em></h3>
    </div>
  </div>
</div>
