<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Term to Flashcards</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Term Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Term Definition:</label>
        <br>
        <input #newDefinition>
      </div>

      <div>
        <label>Term Category:</label>
        <br>
        <textarea #newCategory></textarea>
      </div>

      <div>
        <label>Term Subject:</label>
        <br>
        <textarea #newSubject></textarea>
      </div>

      <button (click)="submitForm(newName.value, newDefinition.value, newCategory.value, newSubject.value); newName.value=''; newDefinition.value=''; newCategory.value=''; newSubject.value='';">Add</button>
    </div>
  </div>
</div>

<div *ngFor="let term of terms | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(term)"><em>{{term.name}}</em>, {{term.category}}</h3>
    <div>
      {{term.definition}}
      <hr>
      <app-edit-term [selectedTerm]="term"></app-edit-term>
    </div>
  </div>
</div>
