<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Term to Flashcards</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <input class="form-control input-lg" placeholder="NAME" #newName>
      </div><br>

      <div>
        <input class="form-control input-lg" placeholder="DEFINITION" #newDefinition>
      </div><br>

      <div>
        <select class="form-control input-lg" #newCategory>
          <option value="" disabled selected>CATEGORIES</option>
          <option value="Fundamentals">Fundamentals</option>
          <option value="Concepts">Concepts</option>
          <option value="Frameworks">Frameworks</option>
          <option value="Databases">Databases</option>
          <option value="Dependencies">Dependencies</option>
          <option value="Technical Interview">Technical Interview</option>
          <option value="Other">Other</option>
        </select>
      </div><br>

      <div>
        <select class="form-control input-lg" #newSubject>
          <option value="" disabled selected>SUBJECTS</option>
          <option value="Ruby">Ruby</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Rails">Rails</option>
          <option value="Ember">Ember</option>
          <option value="Angular">Angular</option>
          <option value="JQuery">JQuery</option>
        </select>
      </div><br>

      <button class="btn btn-success" (click)="submitForm(newName.value, newDefinition.value, newCategory.value, newSubject.value); newName.value=''; newDefinition.value=''; newCategory.value=''; newSubject.value='';">Add</button>
    </div>
  </div>
</div>
<div class="flashcards">
  <div *ngFor="let term of terms | async" class="flashcard panel panel-default">
    <div class="panel-body">
      <h2>{{term.subject}}</h2>
      <h3><em>{{term.name}}</em>, {{term.category}}</h3>
      <div>
        {{term.definition}}
        <hr>
        <app-edit-term [selectedTerm]="term" [user]="user"></app-edit-term>
      </div>
    </div>
  </div>
</div>
