<div class="subjects">
  <div class="subject clickable" routerLink="Ruby">
    <div class="splash-logo ruby"></div>
  </div>
  <div class="subject clickable" routerLink="JavaScript">
    <div class="splash-logo js"></div>
  </div>
  <div class="subject clickable" routerLink="Ember">
    <div class="splash-logo ember"></div>
  </div>
  <div class="subject clickable" routerLink="Angular">
    <div class="splash-logo angular"></div>
  </div>
  <div class="subject clickable" routerLink="JQuery">
    <div class="splash-logo jquery"></div>
  </div>
  <div class="subject clickable" routerLink="Rails">
    <div class="splash-logo rails"></div>
  </div>
</div>
