<div class="subjects">
  <h4>Welcome to the Epiquiz flashcard app! Built with information from the Epicodus curriculum, but made for any developer who needs a quick and easy study tool! To get started, select from one of our options down below and get to studyin'!</h4>
  <div class="subject clickable" routerLink="Ruby">
    <div class="splash-logo ruby"></div>
  </div>
  <div class="subject clickable" routerLink="JavaScript">
    <div class="splash-logo js"></div>
  </div>
  <div class="subject clickable" routerLink="Ember">
    <div class="splash-logo ember"></div>
  </div>
  <div class="subject clickable" routerLink="Angular">
    <div class="splash-logo angular"></div>
  </div>
  <div class="subject clickable" routerLink="JQuery">
    <div class="splash-logo jquery"></div>
  </div>
  <div class="subject clickable" routerLink="Rails">
    <div class="splash-logo rails"></div>
  </div>
</div>
