.clickable {
  cursor: pointer;
}

.parallax {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/images/tempback.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  /*transform: translate();*/
  color: rgba(255,255,255,0.9);
  font-size: 150px;
  text-shadow: 1px 1px 5px grey;
}

.content {
  height: 99vh;
}

/*SPLASH PAGE*/

.subjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.subject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-basis: 23%;
}

.splash-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 75%;
  border: 1px solid rgba(125,126,126,0.3);
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 1px grey;
}

.ruby {
  background-color: rgba(255, 0, 0, 0.5);
}

.ruby:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(255, 0, 0, 0.7);
}

.js {
  background-color: rgba(255, 255, 0, 0.5);
}

.js:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 0, 0.7);
}


/*PARENT DIV CARD LIST*/

.flashcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*CHILD DIV CARD LIST*/

.flashcard {
  flex-basis: 23%;
  min-height: 250px;
  min-width: 350px;
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

/*PARENT DIV CARD DETAIL*/

.flash-detail-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*CHILD DIV CARD DETAIL*/

.flash-detail {
  padding: 20px;
  border: 1px solid rgba(125,126,126,0.5);
  border-radius: 1em;
  box-shadow: 1px 1px 10px grey;
  flex-basis: 23%;
  max-height: 600px;
  min-height: 600px;
  max-width: 400px;
  min-width: 400px;
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

.flash-detail:hover {
  transition: background-color 0.3s ease,
              box-shadow 0.3s ease;
  background-color: #F7F9F9;
  box-shadow: 1px 1px 5px black;
}

.arrow-left {
  margin: 0px 20px 0px 0px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;

  border-right: 50px solid #548587;
}

.arrow-left:hover {
  transition: border-top 0.2s ease,
              border-bottom 0.2s ease,
              border-right 0.2s ease;

  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-right: 60px solid #2a6769;
}

.arrow-right {
  margin: 0px 0px 0px 20px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;

  border-left: 50px solid #915454;
}

.arrow-right:hover {
  transition: border-top 0.2s ease,
              border-bottom 0.2s ease,
              border-right 0.2s ease;

  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid #762a2a;
}
