<h4 (click)="showEdit = !showEdit">Edit Term</h4>

<div *ngIf="showEdit">
  <input class="form-control input-lg" placeholder="NAME" [(ngModel)]="selectedTerm.name"><br>
  <input class="form-control input-lg" placeholder="DEFINTION" [(ngModel)]="selectedTerm.definition"><br>
  <select class="form-control input-lg" [(ngModel)]="selectedTerm.category">
    <option value="" disabled selected>CATEGORIES</option>
    <option value="Fundamentals">Fundamentals</option>
    <option value="Concepts">Concepts</option>
    <option value="Frameworks">Frameworks</option>
    <option value="Databases">Databases</option>
    <option value="Dependencies">Dependencies</option>
    <option value="Technical Interview">Technical Interview</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <select class="form-control input-lg" [(ngModel)]="selectedTerm.subject">
    <option value="" disabled selected>SUBJECTS</option>
    <option value="Ruby">Ruby</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Rails">Rails</option>
    <option value="Ember">Ember</option>
    <option value="Angular">Angular</option>
    <option value="JQuery">JQuery</option>
  </select>
  <br>
  <button class="btn btn-success" (click)="beginUpdateTerm(selectedTerm)">Update</button>
  <!-- <button *ngIf="user.uid === 'xd02DFvuPWY7IAgtxEcLWTl8BE32' || user.uid === 'NRRlYhwo7Je9hCnTZaNO5xPDYpC3' || user.uid === 'S5ZntJd7rJQQDzusrTDEgODwj8R2' || user.uid === 'D9POG4oCf3hdQafocjw0bcEWCqv1'" class="btn btn-danger" (click)="beginDeletingTerm(selectedTerm)">Delete</button> -->

</div>
