<h4 (click)="showEdit = !showEdit">Edit Term</h4>

<div *ngIf="showEdit">
  <input placeholder="New Name" [(ngModel)]="selectedTerm.name"><br>
  <input placeholder="New Definition" [(ngModel)]="selectedTerm.definition"><br>
  <input placeholder="New Category" [(ngModel)]="selectedTerm.category"><br>
  <input placeholder="New Subject" [(ngModel)]="selectedTerm.subject"><br>

  <button class="btn btn-success" (click)="beginUpdateTerm(selectedTerm)">Update</button>
  <button class="btn btn-danger" (click)="beginDeletingTerm(selectedTerm)">Delete</button>

</div>
